.venv/
__pycache__/
*.pyc
runs/
outputs/
core/outputs/
.idea/
.vscode/
.ipynb_checkpoints/

core/model/weights/*.pth
!core/model/weights/.gitkeep
model/weights/*.pth
!model/weights/.gitkeep

data/agvision/
core/data/agvision/
data/uploads/*
!data/uploads/.gitkeep

web/node_modules/
core/node_modules/
web/data/
core/data/
web/.env
core/.env

doc/.~lock.*
core/doc/.~lock.*
