.venv/
__pycache__/
*.pyc
runs/
outputs/
core/outputs/
.idea/
.vscode/
.ipynb_checkpoints/

app/segmentation_service/weights/*.pth
!app/segmentation_service/weights/.gitkeep

data/agvision/
app/ml_core/data/agvision/
data/uploads/*
!data/uploads/.gitkeep

app/api_gateway/node_modules/
app/users_service/node_modules/
web/data/
app/users_service/data/
web/.env
app/api_gateway/.env
app/users_service/.env
app/segmentation_service/.env

doc/.~lock.*
field_dataset_builder/
оцифровки ЦПТЗ\ /